/* imports */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Variables */ 
:root {
    --primary-color: rgb(198, 115, 236);
}

/* Resets*/
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
}
/* Customization */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 2%;
    background-color: black;
    align-items: center;
    
}

header nav a {
    margin-left: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color)
}

header nav a:hover {
    color: white;
}

#logo {
    font-size: 2rem;
    text-decoration: none;
    color: var(--primary-color)
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-bottom: 60px;
}

figure img {
    width: 40%;
    margin: 30px 50px;
    border-radius: 60px;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   flex: 1;
}

figcaption h2 {
    font-size: 4rem;
}

figcaption p {
    font-size: 2rem;
}

main {
    padding: 0 2% 70px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main h3 {
    font-size: 3rem;
    padding-right: 120px;
    white-space: nowrap;
}

main p {
    font-size: 2rem;
}

.paragraphs {
    display: flex;
    flex-direction: column;
}
section {
    padding: 0 2%;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
section h3 {
    font-size: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1500px;
    
}

.grid .first_website {
    display: flex;
    
    
}

.grid .hover:hover{
    opacity: .5;
}
.grid .first_website {
    grid-column: 1 / 4;
    text-decoration: none;
    background-image: url(../images/computer-pic.jpg);
}

.second_website {
    background-image: url(../images/camera.jpg);
    text-decoration: none;
}

.third_website {
    background-image: url(../images/hockey-puck.jpg) ;
    text-decoration: none;
}

.fourth_website {
    background-image: url(../images/guitar.jpg);
    text-decoration: none;
}

.fifth_website {
    background-image: url(../images/surf.jpg);
    text-decoration: none;
}

.sixth_website {
    background-image: url(../images/travel.jpg);
    text-decoration: none;
}

.seventh_website{
    background-image: url(../images/basketball.jpg);
    text-decoration: none;
}

.grid a .article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    background-color: rgb(198, 115, 236, .7);
    padding: 10px;
    margin : 50px;
    border-radius: 50px;
    height: 200px;
    bottom: 0;
    
    
}
.grid a {
    border: 5px solid var(--primary-color);
    background-position: center;
    background-size: cover;
    
}
.grid a {
    color: rgb(128, 0, 122);
   
}

.grid a:hover {
    color: red;
}

.contacts {
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contacts h3 {
    font-size: 3rem;
}

.contacts p, .contacts a {
    font-size: 2rem;
    padding: 50px;
    background-color: rgb(189, 186, 186);
    border-radius: 50px;
    border: 5px solid var(--primary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 2%;
}

@media (max-width: 1070px) {
    figcaption h2 {
        font-size: 3rem;
    }
    
    figcaption p {
        font-size: 1rem;
    }
}

@media (max-width: 850px) {
    figcaption h2 {
        font-size: 2rem;
    }
    
    figcaption p {
        font-size: 1rem;
    }
}


@media (max-width: 630px) {
    figcaption h2 {
        font-size: 1.5rem;
    }
    
    figcaption p {
        font-size: 1rem;
    }
}


@media (max-width: 590px) {
    header nav a {
        margin-left: 15px;
        font-size: 1rem;
        text-decoration: none;
        color: var(--primary-color)
    }
}